# Day-2 session
## 02-02-2022

### Input and output methods
- Reading the data or information from the user---***input()***
    - Static input
    - Dynamic input
- Displaying the information or data to the user---***print()***

In [4]:
a=10
b=50
print(a)
print(b)

10
50

In [3]:
a=input()
a

Yawanth

'Yawanth'

In [5]:
a=input()
a

345

'345'

In [7]:
a=input("enter user value : ")
a

enter user value : Hai welcome

'Hai welcome'

In [1]:
a=float(input("enter the value : "))
a

enter the value : 345

345.0

In [3]:
a=input(" enter value : ")
print(a)

 enter value : 356
356

In [12]:
a=10
b=20
c=50
print(a,b,c,sep=",",end="%")
print(c)

10,20,50%50

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [13]:
a=10
b=20
c=50
print(a,b,c,sep=",",end="\n")
print(c)

10,20,50
50

In [19]:
 # generate three values from user.that values separated with $ and end with %,6 again print three values
a=input("enter a : ")
b=input("enter b : ")
c=input("enter c : ")
print(a,b,c,sep="$ ",end="%")
print(a,b,c,end="\n")

enter a : 30
enter b : 60
enter c : 90
30$ 60$ 90%30 60 90

### Operators
- Arthimatic operators(+,-,*,**,/,//,%)
    - Output for the normal division is quotient.
    - Output for the integer division or floor division is integer part of the quotient.
    - Output for the modulo division is remainder.
- Asignment operators(=)
- Comparision operators(>,<,<=,>=,==)
- Logical operators(and,or,not)
- Bitwise operator(&,|,^)
- Identity operators(==),isnot(!=)
- Membership operators(in.notin)

# Arithmatic operators

In [24]:
a=5
b=2
print("addition : ",a+b)
print("subtraction : ",a-b)
print("multiplication : ",a*b)
print("power : ",a**b)
print("division : ",a/b)
print("int division or floor division :",a//b)
print("modulo division : ",a%b)

addition :  7
subtraction :  3
multiplication :  10
power :  25
division :  2.5
int division or floor division : 2
modulo division :  1

### Assignment operator
- It is represented with =.
- Leftside of the operator(=) is called as variable.
- Rightside of the operator(=) is called as value.

In [25]:
a=20
b=30
print(a)
print(b)

20
30

## Comparision operator

In [26]:
2>5

False

In [27]:
2<5

True

In [29]:
if 2<9 and 2<6:
    print(" print true or false")
else:
    print("not right")

 print true or false

In [30]:
 2<=6

True

In [31]:
3>=3

True

In [33]:
3==2

False

### Logical operators
- and,or,not.
- if all the inputs are True the output is True(and).
- if any of the input is True the output is True(or).
- opposite operation for the given one(not)

In [34]:
2>5 and 3<6

False

In [35]:
2<5 and 3>9

False

In [36]:
2<5 and 3>1

True

In [37]:
2<5 or 3>7

True

In [39]:
5>9 or 8<9

True

In [40]:
8<4 or 7<2

False

In [41]:
a=100
not a

False

In [43]:
a=True
not a

False

In [44]:
a=False
not a

True

## Bitwise operators

In [66]:
2 & 3
# 2-0 0 1 0
# 7-0 1 1 1
# ---------
# - 0 0 1 0

2

In [46]:
2|7

7

In [47]:
2|3

3

## Identity operators

In [49]:

- a is 100 and a is not 100

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\LAB\AppData\Local\Temp/ipykernel_4080/421671943.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  - a is 100 and a is not 100
C:\Users\LAB\AppData\Local\Temp/ipykernel_4080/421671943.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  - a is 100 and a is not 100

False

In [50]:
a==100 and a!=100

False

## Membership operators

In [51]:
s=[1,3,5,6,8,9]
4 in s

False

In [52]:
10 is not s

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\LAB\AppData\Local\Temp/ipykernel_4080/169007513.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  10 is not s

True

In [53]:
3 in s

True

In [65]:
a=30
a+=1 #------>a=a+1
print(a)
a-=1 #------>a=a-1
print(a)
a*=1 #------>a=a*1
print(a)
a/=1 #------>a=a/1
print(a)

31
30
30
30.0

### Flow control
- Conditonal statements(if,else,else-if,nested if)
- Looping (while,for)
- Break,return.

In [ ]:
# c-language
if(condition):
{
print(a)
}

## Conditional statements

In [ ]:
# if
if(condition):
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
#if-else
if(condition):
    statement1
    statement2
    statement3
    ----------
    statementn
else:
    statement1
    statement2
    ----------
    statementn

In [ ]:
if 2>3:
    print("true")
    print("false

In [73]:
# Biggest among 2 numbers 
if 2>3:
    print("true")
else:
    print("false")

false

In [75]:
# given number is even or odd
a=int(input("enter number : "))
if(a%2==0):
    print("it is Even")
else:
    print("it is Odd")

enter number : 3
it is Odd

In [84]:
# given number is zero or positive or negative
a=int(input("enter a value : "))
if(a>0):
    print("a is positive")
elif(a==0):
    print("a is zero")
else:
    print("a is negative")

enter a value : 30
a is positive

In [92]:
#given number is divisible by 2 but not divisible by 10
a=int(input("enter a value : "))
if(a%2==0)and(a%10!=0):
    print(" given number is valid number")
else:
    print("given number is not valid")

enter a value : 30
given number is not valid

### Range
- Syntax for the range is range(start,endvalue,step value)
- Starting value is inclusive and end value is exclusive.
- range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19.
range(10,20,2)
# 10,12,14,16,18.
range(20,50,5)
# 20,25,30,35,40,45.
range(40)
# consider as end value
range(20,30)
# consider as start and end value
range(20,10,-1)
# 20,19,18,17,16,15,14,13,12,11.
# reverse printing

In [94]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [95]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [96]:
list(range(20,50,5))

[20, 25, 30, 35, 40, 45]

In [97]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [99]:
list(range(20,10,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

# Loops
- For,while.
- For Loop:::A For Loop in python is a control flow statement that is used to repeatedly execute a group of statements as long as the condition is satisfied.such a type of statements is also known as an Iterative statement therefore,A For Loop is an tterative statement.

In [ ]:
Syntax:::
for iter in iterable: # range predefined function in the position of iterable.
    statement1
    statement2
    ----------
    statementn

In [3]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [6]:
for i in range(0,11,2):
    print(i,end=",")

0,2,4,6,8,10,

In [7]:
# print the even numbers in the range 0 to 100 and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
print("\n  even number coun
    t :",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
  even number count : 51

In [8]:
# Using if-condition.
c=0
for i in range(0,101):
    if(i%2==0):
        c=c+1
        print(i,end=" ")
print("\n  even number count :",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
  even number count : 51

In [15]:
# print leap years from the range of 2000 to 2020 and print years Count
x=int(input("enter Year 1 : "))
y=int(input("enter Year 2 : "))
c=0
for i in range(x,y+1):
    if(i%4==0):
        c=c+1
        print(i,end=" ")
print("\n yaers coun : ",c)

enter Year 1 : 1990
enter Year 2 : 2020
1992 1996 2000 2004 2008 2012 2016 2020
 yaers coun :  8

In [19]:
# print 5th Table
n=5
for i in range(1,11):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [31]:
# print factors of 5.
n=5
for i in range(1,6):
    if(n%i==0):
        print("The factors of 5 is : ",i)

The factors of 5 is :  1
The factors of 5 is :  5

In [37]:
# Factors of 5 using Runtime
n=int(input())
for i in range(1,n+1):
    if(n%i==0):
        print(i,end=" ")

15
1 3 5 15

In [40]:
# TO check the ASCII values.
# input=aba
# 97+98+97=292
# output=292
x=input()
s=0;
for i in x:
    s=s+ord(i)
print(s)

sss
345

In [48]:
# Print prime numbers
n=int(input())
c=0
for i in range(1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):  
     print("It is Prime Number")
else:
    print("It is Not a Prime number")

7
It is Prime Number

In [14]:
# To print Even and Odd number from 0 to 10
a=int(input("enter a : "))
b=int(input("enter b : "))
for i in range(a,b+1):
    if(i%2==0):
        print(i,end=" ")

for i in range(a,b+1):
    if(i%2!=0):
        print("\n ",i,end=" ")

enter a : 1
enter b : 10
2 4 6 8 10
  1
  3
  5
  7
  9

In [26]:
a=int(input("enter a : "))
b=int(input("enter b : "))
print("\n even numbers are:",end=" ")
for i in range(a,b+1):
    if(i%2==0):
        print(i,end=" ")
print("\n odd numbers are:",end=" ")
for i in range(a,b+1):
    if(i%2!=0):
        print(i,end=" ")

enter a : 1
enter b : 10

 even numbers are: 2 4 6 8 10
 odd numbers are: 1 3 5 7 9