## Day-3 session
- 03-02-2022

## While

- it exicutes block or set of instructions untill the condition is false
- while we dont the range
- exicute faster than the for loop
- User incrementation

# while syntax
- initilization
- while condition:
    -  statements
    -  incr/decrement

In [3]:
n=1
while n<=5:
    print("Hello welcome")
    n=n+1

Hello welcome
Hello welcome
Hello welcome
Hello welcome
Hello welcome

In [4]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [6]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1    #1234%10=4 123%10=3 12%10=2
    s=s//10
print("\nDigit count:",c)

10

Digit count: 2

In [7]:
# check the given is palindrome or not 
# 121--121
# mom-mom
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not a palindrome")

131
palindrome

# syntax::Nested for loop
- for iter in range(start,end,step):
    - for iter in range(start,end,step):
        - statement1
        - statement2
        - ----------
        - statementn

# Matrix format
- rows,columns
- 2dimensions
    - 1 2 3
    - 1 2 3

In [11]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [15]:
for row in range(1,6):
    for column in range(1,9):
        print("*",end=" ")
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [16]:
for row in range(1,6):
    for column in range(1,row+1):
         print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [17]:
for row in range(6,0,-1):
    for column in range(1,row+1):
         print("*",end=" ")
    print()# new line

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [18]:
for row in range(1,6):
    for column in range(1,row+1):
         print("*",end=" ")
    print()# new line
for row in range(6,0,-1):
    for column in range(1,row+1):
         print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
# 1-10
# prime numbers: 2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1): #num=1 num=2 num=3 num=4
    c=0
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)
        if num%var==0: # factors
            c+=1       # factors count
    if c==2:
        print(num,end=" ")

1
10
2 3 5 7

# Nested while
- loop inside another loop

# Syntax
- initilization
- while condition:
    - statements
    - incr/decr
    - while condition:
        - statements
        - incr/decr

In [20]:

# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# Jump Statements

    - called as unconditional jumps
       - Break
       - Continue
       - Pass

# Break

    - the current loop statements
    - Break is a keyword

In [21]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [22]:
n=1
while n<=10:
    print(n)
    n+=1
    if n==6:
        break

1
2
3
4
5

# Continue
- it skips only current iteration and continue the next iteration
- continue is also a keyword.

In [23]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [24]:
# print odd numbers using even number condition using continue statement
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

# Pass

- it is a keyword
- when we need condition scientifically correct need to change another operation
- it is a null operation
- pass statement we use to create empty classes also

In [25]:

s="python"
for i in s:
    if i=='h':
        pass
        print("pass exicuted")
    print(i)

p
y
t
pass exicuted
h
o
n

# String

    - string is a group of characters
    - string is a derived datatype and immutable
    - all strings return a new values

In [26]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [27]:
print(len(a))

13

In [28]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [29]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works

In [31]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
s='vasavi colllege'
s=" vasavi college"

s1='''i am from 
apssdc
i am Yaswanth'''
s2="""engineering
department
hgjudjfljkfl"""

In [36]:
print(s1)

i am from
apssdc
i am Yaswanth

In [37]:
print(s2)

engineering
department
hgjudjfljkfl

In [38]:
print(len(s2))

35

In [39]:
p="apssdc workshop"
print(p.capitalize())

Apssdc workshop

In [40]:
n="GFHertybJHB"
print(n)
print(n.upper())
print(n.lower())

GFHertybJHB
GFHERTYBJHB
gfhertybjhb

In [41]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [42]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [43]:
s7="India Is My Country"
s7.istitle()

True

In [44]:
s7="India is my Country"
s7.istitle()

False

In [45]:
s8=" "

s8.isspace()

True

In [46]:
# isdigit-which is used to identify the digits 
#in a given string
# isalpha- which returns true ,alphabets present 
# in a given string
r="python3"
r.isalpha()

False

In [47]:
r.isdigit()

False

In [48]:
s="345678"
s.isdigit()

True

In [49]:
s="3456789"
s.isalnum()

True

In [50]:
s="python3 is latest version and today is thursday"
s.split()

['python3', 'is', 'latest', 'version', 'and', 'today', 'is', 'thursday']

In [51]:
s="python3@is@latest@version@and@today@is@thursday"
s.split('@')

['python3', 'is', 'latest', 'version', 'and', 'today', 'is', 'thursday']

In [52]:
s="python3 is latest version and today is thursday"
s.split('t')

['py', 'hon3 is la', 'es', ' version and ', 'oday is ', 'hursday']

In [55]:
s="YasWanTh"
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

yASwANtH

In [56]:
#swapcase
s.swapcase()

'yASwANtH'

In [57]:
s="python3 is latest version and today is thursday"
s

'python3 is latest version and today is thursday'

In [58]:
#count:: to know the number of occurences
s.count('a')

4

In [59]:
s.index('t') # searching starts from the begining

2

In [60]:
s.rindex('t') # searching starts from the ending

39

In [61]:
# find --it will return index position of that character
s.find('t')

2

In [62]:
s.index('is')

8

In [63]:
# replace-used to replace the old character
# strip- used to remove white space by default
d="bye vasavi college"
d.replace('bye','hi')

'hi vasavi college'

In [64]:
d="     hello sdc         "
print(d)

     hello sdc

In [65]:
d.strip()

'hello sdc'

In [66]:
d.lstrip()

'hello sdc         '

In [67]:
d.lstrip()

'hello sdc         '

In [68]:
# join
# center
# startswith
# endswith
s="thursday"

'@'.join(s)

't@h@u@r@s@d@a@y'

In [69]:
s="thursday"
'.'.join(s)

't.h.u.r.s.d.a.y'

In [70]:
s.center(1)

'thursday'

In [71]:
s.zfill(10)

'00thursday'

In [72]:
s2="today is the 3rd day"
len(s2)
s2.zfill(25)

'00000today is the 3rd day'

In [73]:
s2.startswith('to')

True

In [74]:
s2.startswith('day')

False

In [75]:
s2.endswith('day')

True

In [76]:
s2.endswith('to')

False


# Data Structures

- List
    - It is one of the data structure in python.
    - List is mutable
    - Represented with []
    - Slicing,Indexing are same as the strings concepts.
- Tuple
- Dictionaries DT are two types:
     - Mutable
         - We can change at any time after its declaration.
         - ex:List,Dictionaries
     - Immutable
          - we can't change it once it declared.
          - ex:String,Tuple

In [77]:
li=[2,4,7,4,9,1]
print(li)

[2, 4, 7, 4, 9, 1]

In [78]:
len(li)

6

In [79]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list 6
max one of the list 9
min one of the list 1

In [80]:
a=['apple',5,8,24.6]
b=[4,8,'today',4]

In [81]:
a + b #concatination

['apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [82]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 24.6]

In [83]:
#repetetion
a*3

['apple', 5, 8, 24.6, 'apple', 5, 8, 24.6, 'apple', 5, 8, 24.6]

In [84]:
(a+b)*2

['apple', 5, 8, 24.6, 4, 8, 'today', 4, 'apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [85]:
'apple' in a

True

In [86]:
'today' not in a

True

In [87]:
'apple' not in a

False

In [88]:
names=['siddu','samhi','giri','veeru','manju','mahesh','sasi']
names[0]
names[5]

'mahesh'

In [89]:
names[5]
names[:3]

['siddu', 'samhi', 'giri']

In [90]:
s='ramesh'
s[0]
s[:3] # ram
s[0:3] # ram
s[2:6] # mesh
s[2:]  # mesh

'mesh'

In [91]:
li1=['vasavi','college','students','hostel']

In [92]:
li1[2:]

['students', 'hostel']

In [93]:
li1[:2]

['vasavi', 'college']